<%- include('../partials/header') %>

<table id="list">
    <thead>
        <tr>
            <th>Seats</th>
        </tr>
    </thead>
    <tbody>
        <% tickets.forEach(function(s) { %>
            <tr>
                <td><%= s.ticket %></td>
                <td><form action="/flights/<%= s.id %>?_method=DELETE" method="POST">
                    <button type="submit">DELETE</button></form></td>
                <td>
                    <a href="/flights/<%= s.id %>">Details</a>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>