<%- include('../partials/header') %>
<table id="list">
    <thead>
        <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight No.</th>
            <th>Departure Date/Time</th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(s) { %>
            <tr>
                <td><%= s.airline %></td>
                <td><%= s.airport %></td>
                <td><%= s.flightNo %></td>
                <td><%= s.departs.toLocaleString() %></td>
            </tr>
        <% }); %>
    </tbody>
</table>