<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: <%= flight.airline %></div>
  <div>Airport: <%= flight.airport %></div>
  <div>Flight No: <%= flight.flightNo %></div>
  <div>Departure Date/Time: <%= flight.departs.toLocaleString() %></div>
</section>

<a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>

<label>Airport</label>
<form action = "/flights/<%=flight._id%>/destinations" method = "POST">
<select name = "airport">
  <option value="AUS">AUS</option>
  <option value="DFW">DFW</option>
  <option value="DEN">DEN</option>
  <option value="LAX">LAX</option>
  <option value="SAN">SAN</option>
</select>
  <label>Arrivals</label>
    <input type="datetime-local" name="arrival">
    <button type="submit">Add Destination</button>
</form> 

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
      	 <th>Airport</th>
        <th>Arrivals</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(s) { %>
        <tr>
          <td><%= s.airport %></td>
          <td><%= s.arrival.toLocaleString() %></td>
          <td><form action="/destinations/<%= s.id %>?_method=DELETE" method="POST">
          <button type = "submit">Delete</button>
          </form></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destinations</h5>
<% } %>

<%- include('../partials/footer') %>