<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: <%= flight.airline %></div>
  <div>Airport: <%= flight.airport %></div>
  <div>Flight No: <%= flight.flightNo %></div>
  <div>Departure Date/Time: <%= flight.departs.toLocaleString()%></div>
</section>